{% extends "account/base.html" %}

{% comment %}
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %}

{% load url from future %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Sign Up" %}</h1>

    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
    </p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <button type="submit">{% trans "Sign Up" %} &raquo;</button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}