/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
    background-color: white;
    font-family: 'Source Sans Pro', 'sourcesanspro', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #242424;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #2B2926;
    font-family: 'Viga', 'Source Sans Pro', 'sourcesanspro', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 2.5em;
    color: black;
}

h2 {
    font-size: 1.3em;
    color: #DE2355;
}

h3 {
    font-size: 1.0em;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: #DE2355;
}

a:hover {
    color: #2B2926;
    border-bottom: 1px dotted #2B2926;
}

ul {
    margin: 0;
}

/**
 * Header
 */

header {
    height: 110px;
    padding: 20px;
}

header h1 {
    float: left;
}

/**
 * Structure
 */

.wrapper {
    max-width: 1400px;
    margin: 0 auto 20px;
}

/**
 * Menu
 */
nav ul {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 5px 15px;
    background: #333;
    color: #fff;
    font-size: 15px;
}

nav ul li {
    display: inline;
    margin-right: 25px;
    font-family: 'Viga', sans-serif;
}

nav ul li a {
    color: #242424 !important;
    color: #fff !important;
}

nav#subnav ul {
    padding: 5px 15px;
    font-size: 13px;
    background-color: #444;
    margin-top: 5px;
}

.inner {
    margin-top: 40px;
}

input,
textarea,
select,
button {
    border: 1px solid #CCC;
    background-color: #F8F8F8;
}

input {
    padding-left: 5px;
    padding-right: 5px;
}

textarea {
    padding: 5px;
}

label {
    display: block;
    font-weight: bold;
    font-size: 13px;
}

ul.errorlist {
    padding-left: 15px;
    font-size: 13px;
}

button.imgbutton {
    border: 0;
    padding: 0;
    cursor: pointer;
}

.center {
    text-align: center;
}