body {
    background-color: white;
    font-family: 'Source Sans Pro', 'sourcesanspro', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #242424;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #2B2926;
    font-family: 'Viga', 'Source Sans Pro', 'sourcesanspro', sans-serif;
    font-weight: 400;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: #DE2355;
}

a:hover {
    color: #2B2926;
    border-bottom: 1px dotted #2B2926;
}

ul {
    margin: 0;
}

/**
 * Header
 */

header {
    height: 140px;
    background: #EEE url('images/darkwave.png');
    padding: 20px;
}

header #logo {
    float: left;
    margin-right: 35px;
    height: 140px;
}

header h1 {
    font-size: 45px;
    color: black;
    float: left;
}

/**
 * Structure
 */

.wrapper {
    max-width: 1400px;
    margin: 20px auto;
}

#c_wrap {
    padding: 15px 20px;
}

/**
 * Menu
 */
nav ul {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 15px;
    background: #333;
    color: #fff;
    font-size: 17px;
}

nav ul li {
    display: inline;
    margin-right: 25px;
    font-family: 'Viga', sans-serif;
}

nav ul li a {
    color: #242424 !important;
    color: #fff !important;
}

nav#subnav ul {
    padding: 5px 15px;
    font-size: 13px;
    background-color: #444;
}

input,
textarea,
select,
button {
    border: 1px solid #CCC;
    background-color: #F8F8F8;
}

input {
    padding-left: 5px;
    padding-right: 5px;
}

textarea {
    padding: 5px;
}

label {
    display: block;
    font-weight: bold;
    font-size: 13px;
}

ul.errorlist {
    padding-left: 15px;
    font-size: 13px;
}

button.imgbutton {
    border: 0;
    padding: 0;
}