body {
    background: url('images/bg-tags.png') repeat fixed -20% top #F80;
    font-family: 'Source Sans Pro', 'sourcesanspro', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #242424;
    padding-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: #2B2926;
    font-family: 'Viga', 'Source Sans Pro', 'sourcesanspro', sans-serif;
    font-weight: 400;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: #DE2355;
}

a:hover {
    color: #2B2926;
    border-bottom: 1px dotted #2B2926;
}

ul {
    margin: 0;
}

/**
 * Header
 */

header {
    width: 1200px;
    margin: 0 auto;
    height: 140px;
    margin-bottom: 20px;
}

header #logo {
    float: left;
    margin-right: 35px;
    height: 140px;
}

header h1 {
    font-size: 45px;
    color: #fff;
    float: left;
}

/**
 * Structure
 */

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

#c_wrap {
    background: #fff;
    margin-top: 10px;
    padding: 15px 20px;
}

/**
 * Menu
 */
nav ul {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 15px;
    background: #444;
    color: #fff;
    font-size: 17px;
}

nav ul li {
    display: inline;
    margin-right: 25px;
    font-family: 'Viga', sans-serif;
}

nav ul li a {
    color: #242424 !important;
    color: #fff !important;
}

nav#subnav ul {
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 13px;
}

.filler {
    height: 1em;
    width: 100%;
}