table#createappl {
    width: 90%;
}

table#createappl th {
    width: 250px;
}

table#createappl textarea {
    width: 100%;
    height: 300px;
}

table#createappl input,
table#createappl select {
    width: 70%;
}