{% comment %}
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %}

{% load staticfiles %}
{% load markdown_deux_tags %}
{% load antragsfabrik_extras %}

<!DOCTYPE html>
<html lang="de">
    <head>
        <title>{{ pdftitle }}</title>
        <link rel="stylesheet" type="text/css" href="assets://pdf.css"/>
        <link rel="stylesheet" type="text/css" href="assets://antragsfabrik.css"/>
        {% if not printversion %}
            <link rel="stylesheet" type="text/css" href="assets://pdf-online.css"/>
        {% endif %}
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>{{ pdftitle }}</h1>

        <div class="firstpage-org">{{ pdforg }}</div>

        <div class="firstpage-stand">Stand: {% now "d.m.Y, H:i" %} Uhr</div>

        {% for typid, appl_list in applications.items %}
            {% if appl_list|length > 0 %}
                <h2 class="type">{{ types|key:typid }}</h2>

                {% for application in appl_list %}
                    <div class="page-break"></div>
                    <h3 class="application">
                        {% if application.number %}{{ application.number }}: {% endif %}{{ application.title }}
                    </h3>

                    <div class="appl-footer">
                        von {{ application.author.display_name }}, eingereicht: {{ application.submitted|date:"d.m.Y, H:i" }} Uhr
                    </div>

                    <div class="appl-main-box">
                        <div class="appl-text">
                            {{ application.text|markdown }}
                        </div>

                        {% if not printversion %}
                            <div class="appl-label">Begründung</div>
                            <div class="appl-reasons">
                                {{ application.reasons|markdown }}
                            </div>
                        {% endif %}

                        {% if application.lqfbinitiative_set.all %}
                            <div class="appl-label">
                                LiquidFeedback
                            </div>
                            <ul class="appl-lqfb">
                                {% for ini in application.lqfbinitiative_set.all %}
                                    <li>{{ ini.title }}:<br/><a href="{{ ini.url }}">{{ ini.url }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </body>
</html>
