{% comment %}
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %}

{% load voting_tags %}

<table cellpadding=2 width=100% class="appl-overview">
    <tr>
        {% if user.is_authenticated %}<th>Punkte</th>{% endif %}
        <th>Title</th>
        <th>Status</th>
        <th>Antragsteller</th>
        <th>zuletzt geändert</th>
    </tr>
    {% for application in appl_list %}
        {% score_for_object application as score %}
        <tr>
            {% if user.is_authenticated %}<td class="center">{{ score.score }}</td>{% endif %}
            <td>{% if application.number %}{{ application.number }}: {% endif %}<a href="{% url 'appl_detail' application.id %}">{{ application.title }}</a></td>
            <td class="center">{{ application.status_name }}</td>
            <td class="center">{{ application.author.display_name }}</td>
            <td class="center">{{ application.updated|date:"d.m.Y, H:i" }} Uhr</td>
        </tr>
    {% endfor %}
</table>