{% comment %}
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %}

<ul>
    <li><a href="{% url 'appl_history' application.id %}">Versionsgeschichte</a></li>
    {% if application.author == user %}
        {% if application.changeable %}
            <li><a href="{% url 'appl_edit' application.id %}">Antrag bearbeiten</a></li>
        {% endif %}
        {% if application.submittable %}
            <li><a href="{% url 'appl_submit' application.id %}">Antrag einreichen</a></li>
        {% endif %}
        {% if application.cancelable %}
            <li><a href="{% url 'appl_cancel' application.id %}">Antrag zurückziehen</a></li>
        {% endif %}
    {% endif %}
    {% if application.is_submitted and not application.number and perms.antragsfabrik.set_appl_number %}
        <li><a href="{% url 'appl_set_number' application.id %}">Antragsnummer setzen</a></li>
    {% endif %}
</ul>
