{% load staticfiles %}

<!DOCTYPE html>
<html lang="de">
<head>
    <title>{% block title %}Antragsfabrik{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'antragsfabrik/editor/editor.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'antragsfabrik/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'antragsfabrik/antragsfabrik.css' %}"/>

    <script type="text/javascript" src="{% static 'antragsfabrik/javascript/jquery-1.11.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'antragsfabrik/editor/marked.js' %}"></script>
    <script type="text/javascript" src="{% static 'antragsfabrik/editor/editor.js' %}"></script>

    <script language="javascript">
        $.fn.editorify = function (options) {
            options = options || {};
            return this.each(function (index, element) {
              var editor;
              options.element = element;
              editor = new Editor(options);
              $(element).data('editor', editor);
              editor.render();
            });
        };

        $(document).ready(function() {
            $('textarea.markdown').editorify();
        });
    </script>

    <meta charset="UTF-8"/>
</head>
<body>
<header>
    <h1>Antragsfabrik</h1>
</header>

<nav id="mainnav">
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'appl_create' %}">Antrag erstellen</a></li>
            <li><a href="{% url 'profile_edit' %}">Profil</a></li>
            <li><a href="{% url 'account_logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'account_signup' %}">Registrieren</a></li>
            <li><a href="{% url 'account_login' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>

<nav id="subnav">
    {% block subnav %}{% endblock %}
</nav>

<div id="c_wrap" class="wrapper">
    <div class="inner">
        {% block content %}{% endblock %}
    </div>
</div>

</body>
</html>