{% extends "antragsfabrik/base.html" %}

{% comment %}
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %}

{% load staticfiles %}

{% block subnav %}
    <ul>
        <li><a href="{% url 'appl_detail' application.id %}">zurück zum Antrag</a></li>
    </ul>
{% endblock %}

{% block content %}
    {% if next_status == 'S' %}
        <h2>Antrag einreichen</h2>

        <p>Wenn du auf den Button unten klickst, wird der Antrag eingereicht. Danach kannst du ihn nicht mehr
            zurückziehen. Änderungen an dem Antrag sind aber bis zur gegebenfalls vorhandenen Frist noch möglich.</p>
    {% elif next_status == 'C' %}
        <h2>Antrag zurückziehen</h2>

        <p>Wenn du auf den Button unten klickst, wird der Antrag zurückgezogen. Danach kannst du den Antrag nicht mehr
            bearbeiten oder einreichen.</p>
    {% endif %}

    <form action="
            {% if next_status == 'S' %}{% url 'appl_submit' application.id %}{% elif next_status == 'C' %}{% url 'appl_cancel' application.id %}{% endif %}"
          method="post">
        {% csrf_token %}
        <button type="submit">Antragsstatus ändern</button>
    </form>
{% endblock %}