{% comment %}
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %}

{% load markdown_deux_tags %}

{% if not preview %}
    {% include "antragsfabrik/vote_box.html" %}
{% endif %}

<h2 class="appl-title">
    {% if application.number %}{{ application.number }}: {% endif %}{{ application.title }}
</h2>
<div class="appl-subtitle">{{ application.typ }}, {{ application.status_name }}</div>

<div class="appl-main-box">
    <div class="appl-text">
        {% if sourcecode %}
            {{ application.text }}
        {% else %}
            {{ application.text|markdown }}
        {% endif %}
    </div>

    <div class="appl-label">Begründung</div>
    <div class="appl-reasons">
        {% if sourcecode %}
            {{ application.reasons }}
        {% else %}
            {{ application.reasons|markdown }}
        {% endif %}

    </div>

    {% if application.lqfbinitiative_set.all %}
        <div class="appl-label">
            LiquidFeedback
        </div>
        <ul class="appl-lqfb">
            {% for ini in application.lqfbinitiative_set.all %}
                <li><a href="{{ ini.url }}">{{ ini.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</div>