{% extends "antragsfabrik/base.html" %}
{% load staticfiles %}

{% block subnav %}
    {% include "antragsfabrik/appl_subnav.html" with application=application user=user only %}
{% endblock %}

{% block content %}
    <h2 class="appl-title">
        {% if application.number %}<strong>{{ application.number }}:</strong>
            &nbsp;{% endif %}{{ application.title }}
    </h2>
    <div class="appl-subtitle">{{ application.typ }}, {{ application.status_name }}</div>

    <div class="appl-main-box">
        <div class="appl-text">
            {{ application.text }}
        </div>

        <div class="appl-label">Begründung</div>
        <div class="appl-reasons">{{ application.reasons }}</div>

        {% if application.lqfbinitiative_set.all %}
            <div class="appl-label">
                LiquidFeedback
            </div>
            <ul class="appl-lqfb">
                {% for ini in application.lqfbinitiative_set.all %}
                    <li><a href="{{ ini.url }}">{{ ini.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="appl-footer">
            <ul>
                <li>von {{ application.author.display_name }}</li>
                {% if application.discussion %}
                    <li><a href="{{ application.discussion }}">zur Diskussion</a></li>
                {% endif %}
                <li>aktualisiert: {{ application.updated }}</li>
            </ul>
        </div>
    </div>
{% endblock %}