{% extends "antragsfabrik/base.html" %}

{% comment %}
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %}

{% load staticfiles %}

{% block subnav %}
    {% if sourcecode %}
        <ul>
            <li><a href="{% url 'appl_detail' application.id %}">zurück zum Antrag</a></li>
        </ul>
    {% else %}
        {% include "antragsfabrik/appl_subnav.html" with application=application user=user perms=perms only %}
    {% endif %}
{% endblock %}

{% block content %}
    {% include "antragsfabrik/detail_mainpart.html" %}

    <div class="appl-footer">
        <ul>
            <li>von {{ application.author.display_name }}</li>
            {% if application.discussion %}
                <li><a href="{{ application.discussion }}">zur Diskussion</a></li>
            {% endif %}
            <li>aktualisiert: {{ application.updated|date:"d.m.Y, H:i" }}</li>
        </ul>
    </div>
{% endblock %}