{% extends "antragsfabrik/base.html" %}

{% block subnav %}
    <ul>
        <li><a href="{% url 'appl_detail' application.id %}">zurück zum Antrag</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h2>Antrag bearbeiten</h2>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'appl_edit' application.id %}" method="post" class="appl-edit">
        {% csrf_token %}
        {{ applform.as_p }}
        <button type="submit">Antrag speichern</button>
    </form>
{% endblock %}