{% extends "antragsfabrik/base.html" %}

{% block subnav %}
    <ul>
        <li><a href="{% url 'appl_detail' application.id %}">zurück zum Antrag</a></li>
    </ul>
{% endblock %}

{% block content %}
    {% if preview %}
        <p>Vorschau:</p>
        <div class="appl-preview">
            {% include "antragsfabrik/detail_mainpart.html" with application=preview only %}
        </div>
    {% endif %}

    <h2>Antrag bearbeiten</h2>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'appl_edit' application.id %}" method="post" class="appl-edit">
        {% csrf_token %}
        {{ applform.as_p }}
        <h3>LQFB Initiative</h3>
        {{ lqfbform.as_p }}
        <button type="submit" name="save">Antrag speichern</button>
        <button type="submit" name="preview">Vorschau zeigen</button>
    </form>
{% endblock %}