{% extends "antragsfabrik/base.html" %}
{% load staticfiles %}
{% load markdown_deux_tags %}
{% load i18n %}
{% load antragsfabrik_extras %}

{% block subnav %}
    <ul>
        <li><a href="{% url 'appl_detail' application.id %}">zurück zum Antrag</a></li>
    <li><a href="{% url 'appl_history' application.id %}">Versionsgeschichte</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h2>Versionsvergleich: {{ title_diff|safe }}</h2>

    <div class="appl-main-box">
        <table style="width: 100%">
            <tr>
                <td>Version:</td>
                <td><strong>{{ revision1.history_date|date:"d.m.Y, H:i" }} Uhr</strong></td>
                <td><strong>{{ revision2.history_date|date:"d.m.Y, H:i" }} Uhr</strong></td>
            </tr>
            <tr>
                <td>Status:</td>
                <td><strong>{{ revision1.status|status_name }}</strong></td>
                <td><strong>{{ revision2.status|status_name }}</strong></td>
            </tr>
            <tr>
                <td>Antragsnummer:</td>
                <td><strong>{{ revision1.number }}</strong></td>
                <td><strong>{{ revision2.number }}</strong></td>
            </tr>
        </table>

        <h3>Antragstext</h3>

        <div class="appl-text">
            {{ text_diff|safe }}
        </div>

        <h3>Begründung</h3>

        <div class="appl-reasons">
            {{ reasons_diff|safe }}
        </div>
    </div>
{% endblock %}