{% extends "antragsfabrik/base.html" %}

{% block content %}
    <h2>Impressum</h2>

    <p>
        Dienstanbieter dieser Seite ist die Piratenpartei Sachsen-Anhalt vertreten durch die Vorsitzende Anne Funke.
    </p>

    <p>
        <strong>Ladungsfähige Anschrift:</strong>
    </p>

    <p>
        Piratenpartei Sachsen-Anhalt<br/>
        z.Hd. Anne Funke<br/>
        Pflugstraße 9a<br/>
        10115 Berlin
    </p>

    <p>
        <strong>E-Mail:</strong> <a href="mailto:vorstand ÄT piraten-lsa PUNKT de">vorstand ÄT piraten-lsa PUNKT de</a>
    </p>

    <p>
        Inhalte dieser Seite werden von Benutzern erstellt und stellen nicht unbedingt die Meinung der Partei oder
        dessen Mitglieder dar.
    </p>

    <p>
        Bei Hinweisen auf rechtlich problematische Inhalte oder bei Fehlern auf dieser Seite bitte an <a
            href="mailto:webmaster ÄT piraten-lsa PUNKT de">webmaster ÄT piraten-lsa PUNKT de</a> wenden.
    </p>
{% endblock %}