{% extends "antragsfabrik/base.html" %}

{% comment %}
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %}

{% load staticfiles %}
{% load antragsfabrik_extras %}
{% load i18n %}
{% load socialaccount %}

{% block content %}
    <div class="textblock">
        <p>
            Dies ist die Seite der Antragsfabrik für den Landesparteitag 2014.1. Hier werden sich alle wohl fühlen, die
            an der Weiterentwicklung der Piratenpartei - sprich deren Satzung und Programm - interessiert sind. Eure
            Anträge können hier vorbereitet, diskutiert und eingereicht werden.
        </p>

        {% if not user.is_authenticated %}
            <p>
                Um Anträge zu erstellen, zu bewerten und die Bewertungen anderer anzusehen musst du dich
                <a href="{% url 'account_login' %}">einloggen</a>.
                Falls du noch keinen Account angelegt hast, so kannst du dich einfach
                <a href="{% url 'account_signup' %}">registrieren</a> oder dich mit Hilfe von deinem bestehenden
                <a href="{% provider_login_url "twitter" %}">Twitter</a> oder
                <a href="{% provider_login_url "google" %}">Google</a> Account anmelden.
            </p>
        {% endif %}

    </div>

    {% if applications %}
        {% for typid, appl_list in applications.items %}
            {% if appl_list|length > 0 %}
                <h2><a href="{% url 'typ_index' typid %}">{{ types|key:typid }}</a></h2>

                {% include "antragsfabrik/appllist.html" with appl_list=appl_list %}
            {% endif %}
        {% endfor %}
    {% else %}
        <p>{% trans 'No applications are submitted.' %}</p>
    {% endif %}
{% endblock %}