{% extends "antragsfabrik/base.html" %}

{% load account %}

{% block content %}
    <h2>Profil</h2>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'profile_edit' %}" method="post">
        {% csrf_token %}
        <p>
            <label>Loginname:</label>
            {% user_display user %}
        </p>
        {{ profileform.as_p }}
        <button type="submit">Speichern</button>
    </form>

    <h2>Einstellungen</h2>

    <ul>
        <li><a href="{% url 'account_email' %}">E-Mail Adresse ändern</a></li>
        <li><a href="{% url 'account_change_password' %}">Passwort ändern</a></li>
        <li><a href="{% url 'socialaccount_connections' %}">Verbindungen ändern</a></li>
    </ul>
{% endblock %}