{% extends "antragsfabrik/base.html" %}

{% comment %}
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %}

{% load staticfiles %}

{% block subnav %}
    <ul>
        <li><a href="{% url 'appl_detail' application.id %}">zurück zum Antrag</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h2>Antragsnummer setzen</h2>

    <p>Wenn du auf den Button unten klickst, wird dem Antrag automatisch eine Antragsnummer zugewiesen. Sollte dies ein
        Troll-/Spamantrag sein, solltest du dies nicht tun.</p>

    <form action="{% url 'appl_set_number' application.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Antragsnummer setzen</button>
    </form>
{% endblock %}