{% extends "antragsfabrik/base.html" %}

{% comment %}
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %}

{% load staticfiles %}
{% load i18n %}
{% load antragsfabrik_extras %}

{% block content %}
    <h2>{{ typ.name }}</h2>

    {% if appl_list %}
        {% for status_key, status_appl_list in appl_list.items %}
            <h3>{{ statuses|key:status_key }}</h3>

            {% include "antragsfabrik/appllist.html" with appl_list=status_appl_list only %}
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if page.has_previous %}
                    <a href="{% url 'typ_index_page' typ.id page.previous_page_number %}">{% blocktrans %}previous page{% endblocktrans %}</a> |
                {% endif %}

                <span class="current">
                    {% blocktrans with number=page.number num_pages=page.paginator.num_pages %}page {{ number }} of {{ num_pages }}{% endblocktrans %}
                </span>

                {% if appl_list.has_next %}
                    | <a href="{% url 'typ_index_page' typ.id page.next_page_number %}">{% blocktrans %}next page{% endblocktrans %}</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>{% trans 'No applications are submitted.' %}</p>
    {% endif %}
{% endblock %}