/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html, body {
    font: 12pt/1.25 Fontin, serif !important;
    -weasy-hyphens: auto
}

body {
    text-align: justify;
    padding: 0 !important;
    background: none !important;
}

h1 {
    page-break-before: auto !important;
    -weasy-bookmark-level: none;
    margin-top: 0 !important;
    text-align: center;
    font-size: 32pt;
}

h2 {
    page-break-before: always;
    font-size: 24pt;
}

h3 {
    page-break-before: always;
    margin-bottom: 0;
}

h1, h2, h3, h4 {
    font-family: inherit !important
}

.firstpage-org {
    text-align: center;
    font-size: 18pt;
}

.firstpage-stand {
    text-align: center;
    font-size: 14pt;
    margin-top: 50px;
}